@font-face {
    font-family: shabnam;
    src: url('../fonts/Shabnam-WOL.eot'), url('../fonts/Shabnam-WOL.woff2') format('woff2'), url('../fonts/Shabnam-WOL.woff') format('woff'), url('../fonts/Shabnam-WOL.ttf') format('truetype');
    font-weight: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    direction: rtl;
    font-family: shabnam;
}

.novbar {
    width: 100%;
    height: 8vh;
    background-color: rgb(2, 214, 252);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 50px;
    margin-right: 20px;
}

.novbar ul {
    display: flex;
    justify-content: center;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    width: 500px;
    margin-left: 100px;
}

.novbar li {
    display: flex;
    justify-content: space-between;
}

.hamberger {
    margin-left: 10px;
    font-size: 20px;
}

.container {
    display: flex;
}

.jadval {
    font-size: 20px;
    margin: 40px;
}

.jadval table,
.jadval tr {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    margin: 10px;
    height: 40px;
    width: 90%;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px;
}

.form p input {
    width: 530px;
    margin-left: 40px;
    font-size: 20px;
    height: 40px;
    margin-bottom: 40px;
    font-family: shabnam;
}

.form p input.send {
    width: 530px;
    margin-left: 40px;
    font-size: 20px;
    height: 40px;
    background: rgb(2, 214, 252);
    font-family: shabnam;
}

.left-side {
    width: 50vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.change {
    width: 50vw;
    height: 70%;
    background-color: blue;
}

.color {
    width: 100%;
    height: 30%;
}

.color ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 70px;
}

.color ul li {
    display: flex;
}

.red {
    background: red;
    width: 80px;
    height: 80px;
}

.blue {
    background: blue;
    width: 80px;
    height: 80px;
}

.green {
    background: green;
    width: 80px;
    height: 80px;
}

.yellow {
    background: yellow;
    width: 80px;
    height: 80px;
}

@media only screen and (max-width: 800px) {
    .container {
        display: flex;
        flex-direction: column;
    }
    .novbar {
        position: fixed;
    }
}